* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E1D4C9;
    font-family: Inter;
    font-weight: 600;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok {
    background-color: #212931;
    width: 700px;
    height: 359px;
    border-radius: 21px;
    margin-top: 2%;
    position: relative;
}

.blok div {
    width: 100%;
    height: 100%;
    border-radius: 21px;
    position: relative;
    top: 20px;
    left: 20px;
    border: 2px solid #212931;
}

.blok div h3 {
    color: #f0ffff;
    text-align: center;
    margin-top: 17%;
}