* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container .btn {
    display: flex;
    gap: 50px;
}

textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #e1e5eb;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
    min-height: 120px;
    transition: border 0.3s;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border-color: #4267B2;
}

button {
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
    width: 30%;
}

button:hover,
.delete-btn:hover {
    background-color: #365899;
}

hr {
    margin: 20px 0;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.delete-btn {
    border: 1px solid #ddd;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}