footer .container, .testimonials .amazing-things, .our-promise .all-difference .container, .our-promise .our-menu .container, .our-promise .our-difference, .background-container .container header div, .background-container .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.testimonials .amazing-things button, .our-promise .all-difference .column-wrap button, .our-promise .our-menu .container div button, .our-promise .our-difference button, .background-container .container .hero-section button, .background-container .container header button {
  background-color: #F9C06A;
  color: #1E1E1E;
  border: none;
  padding: 14px 25px;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.testimonials .amazing-things button:hover, .our-promise .all-difference .column-wrap button:hover, .our-promise .our-menu .container div button:hover, .our-promise .our-difference button:hover, .background-container .container .hero-section button:hover, .background-container .container header button:hover {
  background-color: #ef9e24;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #603809;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Playfair Display";
}

.background-container {
  background: url("../assets/coffee_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 2% 0 4% 0;
  color: #FFFFFF;
}
.background-container .container {
  max-width: 1360px;
  margin: auto;
}
.background-container .container header div p:hover {
  text-decoration: underline;
  color: #F9C06A;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.background-container .container header h3 {
  font-weight: 400;
  font-size: 30px;
  font-family: "Clicker Script";
}
.background-container .container .hero-section h1 {
  font-weight: 400;
  font-size: 220px;
  font-family: "Clicker Script";
}
.background-container .container .hero-section p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
}
.background-container .container .hero-section p:first-child {
  margin-top: 6%;
}
.background-container .container .hero-section button {
  margin-top: 3%;
}

.our-promise {
  max-width: 1360px;
  margin: auto;
}
.our-promise .our-difference {
  padding: 2% 0;
}
.our-promise .our-difference h2 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.our-promise .our-difference p {
  color: #707070;
  padding: 4% 0;
}
.our-promise .our-menu {
  padding-bottom: 7%;
}
.our-promise .our-menu h2 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
}
.our-promise .our-menu p {
  color: #707070;
  padding: 1.5% 0 4% 0;
  text-align: center;
}
.our-promise .our-menu .container div {
  background-color: #FFF9F1;
  border: 1.5px solid rgba(249, 192, 106, 0.4196078431);
}
.our-promise .our-menu .container div h6 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
  margin-top: 2%;
}
.our-promise .our-menu .container div p {
  color: #1E1E1E;
}
.our-promise .our-menu .container div button {
  position: relative;
  left: 25%;
  top: 25px;
}
.our-promise .our-menu .container div:hover {
  -webkit-box-shadow: 0px 25px 30px 0px rgba(249, 192, 106, 0.4196078431);
          box-shadow: 0px 25px 30px 0px rgba(249, 192, 106, 0.4196078431);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.our-promise .all-difference h2 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
}
.our-promise .all-difference p {
  color: #707070;
  padding: 1.5% 0 4% 0;
  text-align: center;
}
.our-promise .all-difference .container div {
  background-color: #FFF9F1;
  border: 1.5px solid rgba(249, 192, 106, 0.4196078431);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}
.our-promise .all-difference .container div h6 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Playfair Display";
  padding: 15px 0;
}
.our-promise .all-difference .container div:hover {
  background-color: rgba(249, 192, 106, 0.4196078431);
}
.our-promise .all-difference .column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-promise .all-difference .column-wrap p {
  color: #707070;
  padding: 4% 0 0 0;
}
.our-promise .all-difference .column-wrap h6 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.our-promise .all-difference .column-wrap button {
  margin: 4% 0;
}

.testimonials {
  background: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials .amazing-things {
  max-width: 1360px;
  margin: auto;
  color: #FFFFFF;
}
.testimonials .amazing-things h2 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.testimonials .amazing-things p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
  padding: 4% 0;
}
.testimonials .feedback {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}
.testimonials .feedback h2 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Playfair Display";
  padding-top: 2%;
}
.testimonials .feedback p {
  color: #707070;
  padding: 1% 0 4% 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
}
.testimonials .feedback .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF9F1;
  border: 1.5px solid rgba(249, 192, 106, 0.4196078431);
}
.testimonials .feedback .container .info-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials .feedback .container .info-people p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
  padding-top: 80px;
  max-width: 800px;
}
.testimonials .feedback .container .info-people h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.testimonials .feedback .container .info-people h6 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
  color: #707070;
}
.testimonials .feedback .container .info-people img {
  position: relative;
  top: 55px;
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
}
.testimonials .feedback .container .arrow-left,
.testimonials .feedback .container .arrow-rigth {
  background-color: #F9C06A;
  border: none;
  padding: 15px;
  max-width: 25px;
  max-height: 25px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 200px;
}
.testimonials .feedback .container .arrow-left:hover,
.testimonials .feedback .container .arrow-rigth:hover {
  background-color: #ef9e24;
}
.testimonials .feedback .container .arrow-left {
  right: 30px;
}
.testimonials .feedback .container .arrow-rigth {
  left: 30px;
}

footer {
  background-color: #603809;
  max-width: 100%;
  color: #FFFFFF;
}
footer .container {
  max-width: 1360px;
  margin: auto;
  gap: 20px;
}
footer .container h4 {
  font-weight: 400;
  font-size: 50px;
  font-family: "Clicker Script";
}
footer .container h6 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Playfair Display";
}
footer .container p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Playfair Display";
  padding-top: 10px;
}
footer .container img {
  padding-top: 30px;
}